*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.row::after,.menu::after,.breadcrumbs::after{
    content: "";
    display: block;
    clear: both;
}
[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-1{
    width: 8.33333%;
}
.col-md-3{
    position: relative;
    width: 25%;
}
.col-md-6{
    width: 50%;
}
.col-md-9{
    width: 75%;
}
.col-md-12{
    width: 100%;
}
.col-md-8{
    width: 66.6666667%;
}
.col-md-4{
    width:33.3333333%;
}
/* Header */

.header{
    background-color: rgb(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo{
    margin-top: 7px;
}
.menu > li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}
.menu li:last-child{
    border-right: 1px solid #2c71b8;
}
.menu > li > a{
    display: block;
    text-decoration: none;
    height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;

}
.menu > li:hover > a{
    color: white;
    background-color: #2c71b8;
}
.active:hover{
    background-image: url(images/arrow-down.png);
    background-repeat: no-repeat;
    background-size: 10px 10px; 
    background-position: 120px 20px;
}
.submenu{
    position: absolute;
    margin-left: -1px;
    opacity: 0; 
} 
.submenu a{
    display: block;
    text-decoration: none;
    padding-left: 15px;
    font-size: 21px;
    font-weight: 300;
    color: #fff;
    background-color: #2c71b8;
    width: 286px;
    height: 40px;
    line-height: 40px;
}
.submenu a:hover{
    background-color: #fff;
    color: #2c71b8;
} 
.menu li:hover > .submenu{
    opacity: 1;
    z-index: 10;
}

.search {
    width: 200px;
    height: 40px;
    display: block;
    border: 1px solid #2c71b8;
    padding: 5px;
    margin-top: 5px; 
    position: relative;
}
.input-search {
    width: 190px;
    height: 30px;
    padding-left: 10px;
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
}
.input-search:focus{ 
    outline: none;
}
.input-search::placeholder {
    color: #2c71b8;
}
.input-button{
    width: 30px;
    height: 30px;
    border: none;
    background: url(images/loop.png) center no-repeat;
    background-color: #2c71b8;
    position: absolute;
    right: 5px;
} 
.cart{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background: url(images/backet.png) center no-repeat;
    background-color: #fff;
}
.count{
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    background-color: #2c71b8;
    text-align: center;
    top: -5px;
    left: 5px;
}

/* Main */

.filter{
    width: 270px;
    height: 840px;
    background-color: rgb(255, 255, 255, 0.2);
}

.breadcrumbs > li {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    margin: 10px 0;
}
.breadcrumbs > li > a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #acc1dd;
    font-weight: 300;
}
.breadcrumbs > li:last-child {
    text-decoration: underline;
}
.type-section{
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    padding: 5px 0;
}
.product-img{
    position: relative;
    width: 270px;
    height: 180px;
    border: 1px solid #fff;
    background-color:rgb(255, 255, 255, 0.7);
    margin-top: 30px;
}
.product-img > img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.zoom{
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background: url(images/zoom.png)center no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
}
.zoom:hover{
    background-color: #2c71b8;
    background-image: url(images/zoom-hover.png);
}
.like{
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    background: url(images/like.png)center no-repeat;
    position: absolute;
    top: 50px;
    right: 10px;
}
.like:hover, .liked{
    background-color: #2c71b8;
    background-image: url(images/like-hover.png);
}
.product-body{
    width: 270px;
    height: 472px;
    padding: 14px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.device-name{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
.about{
    line-height: 25px;
}
.about, .prod-type, .prod-size, .prod-ram{
    font-size: 21px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 15px;
}
.bold{
    font-weight: bold;
}
.price{
    position: relative;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.cent{
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 30px;

}
.more{
    display: block;
    width: 210px;
    height: 50px;
    border: 1px solid #fff;
    background-color: #2c71b8;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 15px;
}
.more:hover{
    background-color: rgb(255, 255, 255, 0.2);
}
.add{
    display: block;
    width: 210px;
    height: 50px;
    border: 1px solid #fff;
    background-color: #2c71b8;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-left: 15px;
    background: url(images/cart.png) no-repeat;
    background-position: 180px;
}
.add:hover{
    background-color: rgb(255, 255, 255, 0.2);
}
.more, .add:focus{ 
    outline: none;
}

/* filter */
.filter {
    width: 270px;
    height: 858px;
    background-color: rgba(202, 219, 237, 0.25);
    border-right: 1px solid white;
}
.filter-checkbox {
    padding: 22px;
    position: relative;
}
.checkbox_input {
    display: none;
}
.checkbox_label {
    font-size: 21px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 22px; 
    left: 22px;  
}
.checkbox_label::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    position: absolute;
    top: 5px;
    left: -21px;
    z-index: 1;
} 
.checkbox_input:checked + .checkbox_label::before{
    background-color: white;
}

.device-type {
    padding-top: 33px;
    padding-left: 30px;
    padding-bottom: 45px;
    color: white;
    font-size: 21px;
    font-weight: bold;
}   
.color {
    padding-left: 30px;
    padding-bottom: 45px;
    color: white;
    font-size: 21px;
    font-weight: bold;
} 
.ram-type {
    padding-left: 30px;
    padding-bottom: 25px;
    color: white;
    font-size: 21px;
    font-weight: bold;
} 
.filter-more-options {
    padding-left: 37px;
    font-size: 21px;
    font-weight: 100;
    color: white;
}
.filter-submit {
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 25px;
}
.submit-button {
    width: 208px;
    height: 48px;
    text-align: center;
    background-color: #2c71b8;
    color: white;
    border: 1px solid white;
    font-size: 21px;
    font-weight: 100;
}
.submit-button:hover {
    color: #2c71b8;
    background-color: white;
}
.filter-block-device-type {
    font-size: 21px;
    font-weight: 100;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: none;
}
.modal-block{
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid gray;
    padding: 15px;
    margin: 80px auto;
}
.form-field{
    margin: 10px 0;
}
.form-field input {
    width: 100%;
    height: 30px;
    padding: 5px;
}
.close-btn{
    text-align: right;
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: block;
}




